/* body {
    background: black !important;
} */

/* Sidebar */
.sidebar-dropdown .sidebar-dropdown-children {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease;
}

.sidebar-list .disabled {
    display: none;
}

.sidebar-dropdown:not(.has-children) {
    display: none;
}